<div class="wrapper">
  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block" onclick="return false">
        <a href="index3.html" class="nav-link">Home</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="#" class="nav-link" onclick="return false">Contact</a>
      </li>
    </ul>


    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="far fa-bell fa-2x"></i>
          <span class="badge badge-warning navbar-badge">6</span>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <span class="dropdown-item dropdown-header">6 Notifications</span>
          <div class="dropdown-divider"></div>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-users mr-2"></i> Petrus invited a new user
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-file mr-2"></i> 5 unread reports
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
        </div>
      </li>

    </ul>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link" onclick="return false">
      <img src="assets/favicon.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">Farmlink</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="assets/user1-128x128.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">Alexander Pierce</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item" >
            <a href="pages/widgets.html" class="nav-link" onclick="return false">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Bids
<!--                <span class="right badge badge-danger">New</span>-->
              </p>
            </a>
          </li>
          <li class="nav-item has-treeview menu-open">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-user"></i>
              <p>
                Subscriber Profile
                <i class="fas fa-angle-left right"></i>
<!--                <span class="badge badge-info right">6</span>-->
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="" class="nav-link" onclick="return false">
                  <i class="far fa-check-square nav-icon"></i>
                  <p>Risk Tolerance</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="pages/layout/top-nav-sidebar.html" class="nav-link" onclick="return false">
                  <i class="far fa-check-square nav-icon"></i>
                  <p>Commodity Production</p>
                </a>
              </li>

            </ul>
            <li class="nav-item">
              <a href="pages/widgets.html" class="nav-link" onclick="return false">
                <i class="nav-icon fas fa-sign-out-alt"></i>
                <p>
                  Log Out
                  <!--                <span class="right badge badge-danger">New</span>-->
                </p>
              </a>
            </li>

        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Dashboard</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#" onclick="return false">Home</a></li>
              <li class="breadcrumb-item active">Dashboard</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6">
            <div class="card" *ngIf="product=='Wheat'">
              <div class="card-header border-0">
                <h3 class="card-title">Commodity Production</h3>
                <div class="card-tools">

                </div>
              </div>

              <div class="card-body">
                <div class="row">
                  <div class="col-md-4">
                    <img src="assets/wheat.jpg" class="card-img-bottom" alt="Product">
                  </div>
                  <div class="col-md-8">
                    <div class="d-flex justify-content-between align-items-center border-bottom mb-3">
                      <p class="text-success text-xl">
                        <i class="ion ion-ios-refresh-empty"></i>
                      </p>
                      <p class="d-flex flex-column text-right">
                        <span class="text-capitalize"><strong>WHEAT</strong></span>
                      </p>
                    </div>
                    <div class="d-flex justify-content-between align-items-center border-bottom mb-3">
                      <p class="text-success text-xl">
                        <i class="ion ion-ios-refresh-empty"></i>
                      </p>
                      <p class="d-flex flex-column text-right">
                    <span class="font-weight-bold">
                       <span class="text-success">
                          <i class="fas fa-arrow-up"></i> 10%
                       </span>
                    </span>
                        <span class="text-muted">PRICE PER BUSHEL</span>
                      </p>
                    </div>
                    <!-- /.d-flex -->
                    <div class="d-flex justify-content-between align-items-center border-bottom mb-3">
                      <p class="text-warning text-xl">
                        <i class="ion ion-ios-cart-outline"></i>
                      </p>
                      <p class="d-flex flex-column text-right">
                    <span class="font-weight-bold">
                         <span class="text-danger">
                          <i class="fas fa-arrow-down"></i> 15%
                       </span>
                    </span>
                        <span class="text-muted">SUPPLY</span>
                      </p>
                    </div>
                    <!-- /.d-flex -->
                  </div>
                </div>
              </div>
            </div>
            <!-- /.card -->
            <div class="card" *ngIf="product=='Corn'">
              <div class="card-header border-0">
                <h3 class="card-title">Commodity Production</h3>
                <div class="card-tools">

                </div>
              </div>

              <div class="card-body">
                <div class="row">
                  <div class="col-md-4">
                    <img src="assets/corn.jpeg" class="card-img-bottom" alt="Product">
                  </div>
                  <div class="col-md-8">
                    <div class="d-flex justify-content-between align-items-center border-bottom mb-3">
                      <p class="text-success text-xl">
                        <i class="ion ion-ios-refresh-empty"></i>
                      </p>
                      <p class="d-flex flex-column text-right">
                        <span class="text-muted">CORN</span>
                      </p>
                    </div>
                    <div class="d-flex justify-content-between align-items-center border-bottom mb-3">
                      <p class="text-success text-xl">
                        <i class="ion ion-ios-refresh-empty"></i>
                      </p>
                      <p class="d-flex flex-column text-right">
                    <span class="font-weight-bold">
                       <span class="text-success">
                          <i class="fas fa-arrow-up"></i> 8%
                       </span>
                    </span>
                        <span class="text-muted">PRICE PER BUSHEL</span>
                      </p>
                    </div>
                    <!-- /.d-flex -->
                    <div class="d-flex justify-content-between align-items-center border-bottom mb-3">
                      <p class="text-warning text-xl">
                        <i class="ion ion-ios-cart-outline"></i>
                      </p>
                      <p class="d-flex flex-column text-right">
                    <span class="font-weight-bold">
                         <span class="text-danger">
                          <i class="fas fa-arrow-down"></i> 25%
                       </span>
                    </span>
                        <span class="text-muted">SUPPLY</span>
                      </p>
                    </div>
                    <!-- /.d-flex -->
                  </div>
                </div>
              </div>
            </div>
            <!-- /.card -->
            <div class="card" *ngIf="product=='Barley'">
              <div class="card-header border-0">
                <h3 class="card-title">Commodity Production</h3>
                <div class="card-tools">

                </div>
              </div>

              <div class="card-body">
                <div class="row">
                  <div class="col-md-4">
                    <img src="assets/barley.jpg" class="card-img-bottom" alt="Product">
                  </div>
                  <div class="col-md-8">
                    <div class="d-flex justify-content-between align-items-center border-bottom mb-3">
                      <p class="text-success text-xl">
                        <i class="ion ion-ios-refresh-empty"></i>
                      </p>
                      <p class="d-flex flex-column text-right">
                        <span class="text-muted">BARLEY</span>
                      </p>
                    </div>
                    <div class="d-flex justify-content-between align-items-center border-bottom mb-3">
                      <p class="text-success text-xl">
                        <i class="ion ion-ios-refresh-empty"></i>
                      </p>
                      <p class="d-flex flex-column text-right">
                    <span class="font-weight-bold">
                       <span class="text-success">
                          <i class="fas fa-arrow-up"></i> 20%
                       </span>
                    </span>
                        <span class="text-muted">PRICE PER BUSHEL</span>
                      </p>
                    </div>
                    <!-- /.d-flex -->
                    <div class="d-flex justify-content-between align-items-center border-bottom mb-3">
                      <p class="text-warning text-xl">
                        <i class="ion ion-ios-cart-outline"></i>
                      </p>
                      <p class="d-flex flex-column text-right">
                    <span class="font-weight-bold">
                         <span class="text-danger">
                          <i class="fas fa-arrow-down"></i> 9%
                       </span>
                    </span>
                        <span class="text-muted">SUPPLY</span>
                      </p>
                    </div>
                    <!-- /.d-flex -->
                  </div>
                </div>
              </div>
            </div>
            <!-- /.card -->
            <div class="card">
              <div class="card-header border-0">
                <div class="row">
                  <div class="col-5">
                      <h3 class="card-title">Analyst View: Canadian Wheat</h3>
                  </div>

                  <div class="col">
                    <mat-form-field style="padding-left: 20px; text-align: left">
                      <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Filter">
                    </mat-form-field>

                  </div>

                  <div class="col" style="padding-top: 5px; text-align: right">
                    <a class="nav-link" data-toggle="dropdown" href="#" (click)="openDialog('Add',{})">
                      <i class="fa fa-plus-circle fa-2x"></i>
                    </a>
                  </div>

                </div>
              </div>
              <div class="mat-elevation-z8">
              <table mat-table [dataSource]="dataSource"  style="display: table" width="100%">

                <ng-container matColumnDef="Year">
                  <th mat-header-cell  *matHeaderCellDef> Year </th>
                  <td mat-cell *matCellDef="let element"> {{element.Year}} </td>
                </ng-container>

                <ng-container matColumnDef="DC">
                  <th mat-header-cell  *matHeaderCellDef> Domestic Consumption </th>
                  <td mat-cell *matCellDef="let element"> {{element.DC}} </td>
                </ng-container>


                <ng-container matColumnDef="FDC">
                  <th mat-header-cell  *matHeaderCellDef> Feed Dom. Consumption</th>
                  <td mat-cell *matCellDef="let element"> {{element.FDC}} </td>
                </ng-container>


                <ng-container matColumnDef="FSI">
                  <th mat-header-cell  *matHeaderCellDef> FSI Consumption</th>
                  <td mat-cell *matCellDef="let element"> {{element.FSI}} </td>
                </ng-container>

                <ng-container matColumnDef="AH">
                  <th mat-header-cell  *matHeaderCellDef> Area Harvested</th>
                  <td mat-cell *matCellDef="let element"> {{element.AH}} </td>
                </ng-container>

                <ng-container matColumnDef="YI">
                  <th mat-header-cell  *matHeaderCellDef> Yield</th>
                  <td mat-cell *matCellDef="let element"> {{element.YI}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
              <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

              </div>
            </div>
            <!-- /.card -->
            <div class="card">
              <div class="card-header border-0">
                <div class="d-flex justify-content-between">
                  <h3 class="card-title">Top Countries in Wheat Production in 2019</h3>
                </div>
              </div>
              <div class="card-body">
                <div class="position-relative mb-4">
                  <lib-Ng6O2Chart [chartType]="packLayoutTypeName" [configData]="configData"  [graphData]="packLayoutDataJson" [svgWidth]="'600'" [svgHeight]="'400'"></lib-Ng6O2Chart>
                </div>
              </div>
            </div>

          </div>
          <!-- /.col-md-6 -->
          <div class="col-lg-6">
          <!--add here-->
            <div class="card">
              <div class="card-header border-0">
                <div class="d-flex justify-content-between">
                  <h3 class="card-title">Commodity Updates in Canada: Wheat</h3>
                </div>
              </div>
              <div class="card-body">
                <div class="position-relative mb-4">
                  <canvas id="visitors-chart" height="200"></canvas>
                </div>

                <div class="d-flex flex-row justify-content-end">
                  <span class="mr-2">
                    <i class="fas fa-square text-primary"></i> Total Supply
                  </span>

                  <span class="mr-2">
                    <i class="fas fa-square" style="color:#f45d36"></i> Production
                  </span>

                  <span class="mr-2">
                    <i class="fas fa-square" style="color:#7a857d"></i> Total Export
                  </span>
                </div>
              </div>
            </div>
            <!-- /.card -->

            <!--add here -->

            <div class="card" [hidden]="product!='Wheat'">
              <div class="card-header border-0">
                <div class="d-flex justify-content-between">
                  <h3 class="card-title">Canadian Wheat Stocks (Tonnes) Over Years</h3>
                </div>
              </div>
              <div class="card-body">
                <div class="position-relative mb-4">
                  <canvas id="sales-chart-wheat" height="300" ></canvas>
                </div>
              </div>
            </div>
            <!--add here-->
            <div class="card">
              <div class="card-header border-0">
                <div class="d-flex justify-content-between">
                  <h3 class="card-title">Wheat TY Imports vs TY Imp. from US Over Years</h3>
                </div>
              </div>
              <div class="card-body">
                <div class="position-relative mb-4">
                  <div style="text-align:center">
                    <lib-Ng6O2Chart [chartType]="barTypeName" [configData]="configData"  [graphData]="barDataJson" [svgWidth]="'600'" [svgHeight]="'400'"></lib-Ng6O2Chart>
                  </div>
                </div>
              </div>
            </div>

            <!-- /.card -->
          </div>

          <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <div class="p-3 control-sidebar-content">
      <h2>Filter Product</h2>
      <hr class="mb-2">
      <form name="myForm">
        <div class="mb-1">
          <input type="radio" [(ngModel)]="product" class="mr-2" name="myRadios"  value="Wheat" checked/><span>Wheat</span>
        </div>
        <div class="mb-1">
          <input type="radio" [(ngModel)]="product" class="mr-2" name="myRadios"  value="Corn" /><span>Corn</span>
        </div>
        <div class="mb-1">
          <input type="radio" [(ngModel)]="product" class="mr-2" name="myRadios"  value="Barley" /><span>Barley</span>
        </div>
      </form>

    </div>
  </aside>
  <!-- /.control-sidebar -->

  <!-- Main Footer -->
  <footer class="main-footer">
    <strong><a href="https://www.farmlinksolutions.ca/">Farmlink Solutions</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 1.0.0
    </div>
  </footer>

</div>
<router-outlet></router-outlet>
